<!DOCTYPE html>
<html lang="en">
<head>

    <link href="css/estilos.css" rel="stylesheet" >
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <div class="rectangulo">
        <img class="img" src="img/DOM3.png"h>
    <br>
    <br>

    </div>

<div class="general">

    <div class="d-grid gap-2" >
        <form>
            <div class="position-relative text-center"><button type="submit" formaction="/TransactionTable" class="btn btn-primary btn-lg"> Sistema de gestion de ingresos y gastos.</button></div>
            <br>
            <div class="position-relative text-center"><button type="submit" formaction="/employeetable" class="btn btn-primary btn-lg"> Sitema de gestion usuarios.</button></div>
            <br>
            <div class="position-relative text-center"><button type="submit" formaction="/empresaTable" class="btn btn-primary btn-lg"> Sitemas de gestion de empresas.</button></div>
        </form>
    </div>
</div>
</body>
</html>