<!DOCTYPE html>
<html lang="en">
<head>

    <link href="css/estilos.css" rel="stylesheet" >

    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>




    <div class="rectangulo">
        <img class="img" src="img/DOM3.png"h>


        <div style="margin-top: 100px"><button class="botones">Ingresos y engresos</button></div>
        <br>
        <div style="margin-top: 30px"><button class="botones">Usuarios</button></div>
        <br>
        <div style="margin-top: 30px"><button class="botones">Empresas</button></div>
    </div>

<div class="general">

    <div><button class="ingre">Sistema de gestion de ingresos y gastos.</button></div>
    <div><button class="usu">Sitema de gestion usuarios.</button></div>
    <div><button class="empre">Sitemas de gestion de empresas.</button></div>


</div>



</body>
</html>